{% extends 'layouts/_default.twig' %}

{% block main_content%}
<h1>Welcome Home!!</h1>
<div>
 <a href = "/choices">Choices</a>
 <br>
 <a href = "/questions">Questions</a>
 <br>
<a href = "/quizzes">Quizzes</a>
</div>
{%endblock%}

