{% extends 'layouts/_default.twig' %}
{% block title %}View Questions{% endblock %}
{% block main_content %}
	<h1>View Questions</h1>
	<ul>
		<li><strong>Name: </strong> {{ question.name }}</li>
	</ul>
	<p>
		<a href="/questions/{{ question.id }}/edit">Edit</a> | <a href="/questions/{{ question.id }}/delete">Delete</a>
	</p>
{% endblock %}