{% if choice %}
	<form method="POST" action="/choices/{{ quiz.id }}">
{% else %}
	<form method="POST" action="/choices">
{% endif %}
	<div class="control">
		<label>Name:</label>
		{% if quiz %}
			<input type="text" name="name" value="{{ choice.name }}" placeholder="Choice name...">
			
		{% else %}
			<input type="text" name="name" placeholder="Choice name...">

		{% endif %}
	</div>
	<button type="submit">Save Choice</button>
</form>
