{% extends 'layouts/_default.twig' %}
{% block title %}View Choice{% endblock %}
{% block main_content %}
	<h1>View Choice</h1>
	<ul>
		<li><strong>Name: </strong> {{ choice.name }}</li>
	</ul>
	<p>
		<a href="/choices/{{ choice.id }}/edit">Edit</a> | <a href="/choices/{{ choice.id }}/delete">Delete</a>
	</p>
{% endblock %}